.menu-list {
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 3;
}

@media (max-width: 820px) {
  .menu-list {
    top: 50%;
    left: 12%;
    width: 88%;
  }
}

@media (max-width: 500px) {
  .menu-list {
    top: 50%;
    left: 13%;
    width: 87%;
  }
}
